.lab-entry {
    position: relative;
    width: 500px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    float: left;
}

.lab-entry > .date {
    display: inline-block;
    width: 500px;
    vertical-align: text-top;
    padding-bottom: 0;
    margin-bottom: 0;
}

.lab-entry > .content {
    display: inline-block;
    padding-top: 0;
}

#math-toolbar {
    width: 200px;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: orange;    
}

#lab-entries-container {
    width: calc(100% - 200px);
}