.lab-entry {
    position: relative;
    width: auto;
    min-width: 500px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    float: left;
}

.lab-entry > .date {
    display: inline-block;
    width: 500px;
    vertical-align: text-top;
    padding-bottom: 0;
    margin-bottom: 0;
}

.lab-entry > .content {
    display: block;
    padding-top: 0;
}

#lab-entries-container {
    width: calc(100% - 200px);
}

#math-toolbar {
    width: 200px;
    height: 100vh;
    position: fixed;
    padding: 5px;
    top: 0;
    right: 0;
    background-color: orange;    
}

#math-toolbar > .math-icon {
    float: left;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-weight: 200;
}

img {
    width: 400px;
    height: 300px;
}